<!-- 
        This template shows a SSO link on the customer frontend pages 
        Use this if you want to show a sso link on your frontend pages
    -->
<?php
$storeurl = $this->getStoreUrl();
$currenturl = $this->getCurrentUrl();

$buttonurl = substr($currenturl,0,strpos($currenturl,'/customer'));

if($buttonurl == $storeurl)
	echo '  <a href="'.$this->getSPInitiatedUrl().'"><span>'.$this->getSSOButtonText().'</span></a>';