<?php


$account = $this->getExtensionPageUrl('account');
$message = $this->getMessage();

echo'	
	    <div id="messages">
            <ul class="mini-messages">';

                if(array_key_exists('error',$message))
                {
        echo'       <li class="error-msg">
                        <ul>
                            <li>
                                <span>'.$message['error'].'</span>
                                <a id="error-cancel" href="#">&times;</a>
                            </li>
                        </ul>
                    </li>';
                } elseif(array_key_exists('success',$message)) {
                    echo '  <li class="success-msg">
                                <ul>
                                    <li>
                                        <span>'.$message['success'].'</span>
                                        <a id="success-cancel" href="#">&times;</a>
                                    </li>
                                </ul>
                            </li>';
                }
echo'        </ul>						
        </div>
	    <div>
            <div class="topnav" id="myTopnav">
                <a class="nav-tab" href="'.$account.'">1. Account</a>
            </div>
        </div>';