<?php

$customerData = $this->getCustomerData();

echo '
        <div id="userprofile">
            <div style="display: flow-root;">
                <div style="float:left;"><h3>Your Profile</h3></div>

                <form name="f" method="post" action="">
                    '.$formKey.'
                    <input type="hidden" name="option" value="removeAccount" />  
                    <input type="submit" style="float:right;" name="submit" id="remove_plugin" value="Remove Account"/> 
                </form>
            </div>
            <br/>
            <hr>
            <p>Thanks for upgrading to premium module.</p>
            <table class="data center">
                <tr>
                    <td><b>miniOrange Account Email</b></td>
                    <td>'.$customerData['email'].'</td>
                </tr>
                <tr>
                    <td><b>Customer ID</b></td>
                    <td>'.$customerData['key'].'</td>
                </tr>
                <tr>
                    <td><b>API Key</b></td>
                    <td>'.$customerData['apiKey'].'</td>
                </tr>
                <tr>
                    <td><b>Token Key</b></td>
                    <td>'.$customerData['token'].'</td>
                </tr>
            </table>
        </div>
        <br/>';