<!-- 
    This template file is for the Sign In settings.
    File acts as a view file for our Sign In settings.
-->
<?php
    // initialize all values
    $adminLink = $this->showAdminLink() ?'checked':'';
    $customerLink = $this->showCustomerLink() ?'checked':'';
    $login_redirect = $this->isAutoRedirectEnabled() ?'checked':'';
    $isOAuthConfigured = $this->isOAuthConfigured() && $this->isEnabled();
    $byPassRedirect = $this->isByBackDoorEnabled() ?'checked':'';
    $byPassDisabled = $isOAuthConfigured || $login_redirect!="checked" ? "disabled" : '';


 
    $disabled  = $isOAuthConfigured ? "" : 'disabled title="Disabled. Configure your Service Provider" ';
    $formKey = $this->getBlockHtml('formkey');
    $logoutUrl = $this->getAdminLogoutUrl();
    $premiumlink = $this->getExtensionPageUrl('upgrade');
    $adminLoginUrl = $this->getAdminLoginUrl();
    $customerLoginUrl = $this->getCustomerLoginUrl();
echo '<div class="page" id="samlsettings">
        <div class="mosp_table_layout">
            <h3>SIGN IN OPTIONS</h3>
            <hr>
            <form id="signInSettings" method="post" action="">'.
                $formKey .'
                <input type="hidden" name="option" value="saveSingInSettings" />
                <table>
                    <tr>
                        <td>
                            <h4><b>Show Link on Default Login Page :</b></h4>
                            <div style="margin-left:17px;margin-top:2%;">
                                <input type="checkbox" name="mo_oauth_show_admin_link" id="mo_oauth_show_admin_link" 
                                     '.$adminLink.' value="true"> Show the Login Link on the default admin login page.
                                <br><br>
                                <input type="checkbox" name="mo_oauth_show_customer_link" id="mo_oauth_show_customer_link" 
                                    '.$customerLink.'  value="true">  Show the Login Link on the default customer login page.
                                <br><br>
                                <input type="button" name="link_setup" title="You can only make changes if you have configured your SP" 
                                    onclick="document.getElementById(\'signInSettings\').submit();" 
                                    value="Save" style="width:150px"/>
                            </div>
                        </td>
                    </tr>
                    <tr><td>
                        <h4><b>OPTION 2: Auto Redirect User:</b></h4>
                        <div style="margin-left:17px;margin-top:2%;">	
                            <input type="checkbox" name="mo_saml_enable_login_redirect" value="true" 
                                 '.$login_redirect.' onchange="document.getElementById(\'signInSettings\').submit();"/> 
                                Check this option if you want to <b>auto redirect the user to IdP</b>.

                                <span class="tooltip">
                                    <div class="admin__field-tooltip tooltip">
                                        <a title="What is this?" class="admin__field-tooltip-action action-help"><span>What is this?</span></a> 
                                    </div>
                                    <span class="tooltiptext"><span class="header"><b><i>WHAT IS THIS?</i></b></span><hr>
                                    <span class="body">Users visiting any of the following URLs will get redirected to your 
                                    configured IdP for authentication: <code><b>'.$adminLoginUrl.'</b></code> <br>or<br> <code><b>
                                '.$customerLoginUrl.'</b></code></span></span>
                                </span>
                               
                                <br>
                            <p>
                                <input type="checkbox" name="mo_saml_bypass_redirect" value="true" 
                                   '.$byPassRedirect .' '.$byPassDisabled.'
                                    onchange="document.getElementById(\'signInSettings\').submit();"/> 
                                    Checking this option creates a backdoor to login to your Website using Magento credentials 
                                    incase you get locked out of your IdP.
                                <br>      
                            </p>
                        </div>
                    </td></tr>
                </table>
            </form>
        </div>
    </div>';
