    <!--Pricing Tab-->
    <?php

    $idpsettings = $this->getExtensionPageUrl('idpsettings');
    $hostname = $this->getMiniOrangeUrl();
    $email = $this->getCustomerEmail();

    echo '
    <div class="page" id="pricing">
        <h3>LICENSING PLANS</h3>
        <hr>				
        <table class="mo_oauth_pricing_table">
            <tbody><tr>    	
                <td>
                    <div class="mo_oauth_thumbnail mo_oauth_pricing_paid_tab">
                        
                        <hr>
                        <div style="height:8%;padding:2% 0;">
                            <p class="mo_oauth_pricing_text">
                                    You are on Premium Plan
                            </p>
                        </div>
                        
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="margin:2% 0 2% 2%;">
            <form style="display:none;" id="mocf_loginform" action="'.$hostname.'/moas/login" 
                target="_blank" method="post">
                <input type="email" name="username" value="'.$email.'" />
                <input type="text" name="redirectUrl" value="'.$hostname.'/moas/initializepayment" />
                <input type="text" name="requestOrigin" id="requestOrigin"  />
            </form>
        </div>		
    </div>';
